[submodule "cppjieba-cabi"]
	path = deps/cppjieba-cabi
	url = git@github.com:messense/cppjieba-cabi.git
    branch = master
[submodule "snappy"]
	path = deps/snappy
	url = git@github.com:google/snappy.git
    branch = main
